/* styles.css */

body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav li {
    display: inline;
    margin-right: 20px;
}

main {
    max-width: 800px;
    margin: 20px auto;
    background-color: #fff;
    padding: 20px;
}

input {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
}

.meal-card {
    border: 1px solid #ddd;
    margin: 10px;
    padding: 10px;
    text-align: center;
}

.favorite-card {
    border: 1px solid #ddd;
    margin: 10px;
    padding: 10px;
    text-align: center;
}

.favorite-button, .remove-button {
    background-color: #3498db;
    color: #fff;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
}

.favorite-button:hover, .remove-button:hover {
    background-color: #2980b9;
}
